<h2>Artist info</h2>

<div>
    {{#each data}}
    <ul>
        <li>{{this.name}}
            
         <br> <img src="{{this.images.1.url}}" alt="image"> 
         <br>
         <a href="/albums/{{this.id}}">View Albums</a>
         </li>
     </ul>
    {{/each}}
</div>