{{!-- <h2>{{data.body.items[0].id}} tracks</h2> --}}

<div>
    {{#each tracks}}
    <ul>
        <li>
         <audio controls src="{{this.preview_url}}"></audio>
         <br>
         <a href="/home">Go Back</a>
         </li>
     </ul>
    {{/each}}
</div>