<h2>Hi there</h2>

<div>
    {{#each data}}
    <ul>
        <li>{{this.name}}
            
         <br> 
         <audio src="{{this.preview_url}}"></audio>
         <br>
         <a href="/albums/{{this.id}}">View Albums</a>
         </li>
     </ul>
    {{/each}}
</div>